/*展示位置div样式*/
.show-position{
    height: 40px;
    background-color: #fff;
    margin: -10px -10px 0 -10px;
}
.show-position span{
    display: inline-block;
    padding-left: 10px;
    line-height: 40px;
    font-size: small;
    cursor: default;
}
.show-position span:last-child{
    font-weight: bolder;
}
.progress-container h1{
    position: relative;
    margin-top: 0;
    border: 2px solid rgb(221,221,221);
    border-radius: 3px;
    width: 100%;
    height: 80px;
    line-height: 80px;
    padding-left: 20px;
    cursor: default;
    display: inline-block;
    overflow: hidden;
}
.calendar-container{
    position: relative;
    border: 2px solid rgb(221,221,221);
    border-radius: 3px;
    width: 400px;
    display: inline-block;
    float: left;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}
.year-month{
    position: relative;
    width: 20%;
    margin-left: 20px;
    color: #bbb;
    cursor: pointer;
    text-decoration: none!important;
}
.year-month h2{
    display: inline-block;
}
.year-month h2:last-child{
    color: #777;
}
.year-month:hover{
    color: #777;
}
.calendar-arrow{
    position: relative;
    float: right;
    line-height: 63px;
    color: #bbb;
    font-size: 30px;
    cursor: pointer;
}
.calendar-arrow span:hover{
    color: #777;
}
.calendar-week ul{
    text-align: center;
}
.calendar-week ul li{
    display: inline-block;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    color: #777;
    font-weight: bold;
}
.calendar-day{
    text-align: center;
}
.calendar-day ul li{
    display: inline-block;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    color: #777;
    font-weight: bold;
    border-radius: 50%;
    cursor: pointer;
}
.calendar-day ul li:hover{
    background-color: #ddd;
}
.date-active{
    color: #fff!important;
    background-color: #1abc9c!important;
}
.date-old{
    color: #bbb!important;
}
.input-group{
    position: relative;
    margin-top: 20px;
    left: 15px;
    width: 400px;
}
.date-chosen{
    position: relative;
    margin-top: 0;
    left: 15px;
    width: 400px;
}
.btn-form-one{
    position: relative;
    margin-top: 80px;
    left: 300px;
    width: 100px;
    font-weight: bold;
}
.btn-form-two{
    position: relative;
    margin-top: 80px;
    left: 90%;
    width: 100px;
    font-weight: bold;
}
.btn-form-three{
    position: relative;
    margin-top: 80px;
    left: 90%;
    width: 100px;
    font-weight: bold;
}
.form-hidden{
    position: relative;
    opacity: 0;
    animation: form-hidden 0.5s ease-in-out;
}
.title-hidden{
    width: 7%!important;
    animation: title-hidden .5s ease-in-out;
    background-color: #7fd53e;
    color: #fff
}
.title-2-show{
    width: 92%!important;
    animation: title-2-show .5s ease-in-out;
}
.title-3-show{
    width: 85%!important;
    animation: title-3-show .5s ease-in-out
}
@keyframes form-hidden {
    from{left: auto;
        opacity: 1;}
    to{opacity: 0;}
}
@keyframes title-hidden {
    from{width: 80%;
    background-color: #d9edf7}
    to{width: 7%;
    background-color: #7fd53e}
}
@keyframes title-2-show {
    from{width: 0;}
    to{width: 92%;}
}
@keyframes title-3-show {
    from{width: 0;}
    to{width: 85%;}
}
.room-chosen{
    width: 49%;
    height: 200px;
    border: 2px solid rgb(221,221,221);
    border-radius: 3px;
    float: left;
}.class-chosen{
    width: 49%;
    height: 200px;
    border: 2px solid rgb(221,221,221);
    border-radius: 3px;
    /*margin-top: 10px;*/
    margin-left: 1%;
     float: left;
}
 /*选择时间的样式*/
.time-chosen-show{
    top: -190px!important;
    opacity: 1!important;
    animation: time-chosen-show .2s ease-out;
}
@keyframes time-chosen-show {
    from{top: -260px;
        opacity: 0;}
    to{top: -190px;
        opacity: 1;}
}
.time-chosen{
    position: relative;
    float: right;
    top: -260px;
    right: 630px;
    opacity: 0;
    width: 180px;
    height: 217px;
    border-radius: 6px;
    background-color: #fff;
    box-shadow: 0 0 20px #555;
    user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -webkit-transition: all .2s ease-in;
    -moz-transition: all .2s ease-in;
    -ms-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    transition: all .2s ease-in;
}
.time-chosen p{
    margin: 5px 0;
    text-align: center;
    font-size: 1.4em;
    font-weight: bolder;
    font-family: Consolas;
}
.time-chosen p i{
    position: relative;
    font-size: small;
    /*margin: 0 5px;*/
    top: -10px;
    left: 10px;
    color: #bbb
}
.time-chosen p i:hover{
    color: #8c8c8c;
}
.time-chosen ul{
    /*text-align: center;*/
    padding-left: 2px;
}
.time-chosen ul li{
    display: inline-block;
    text-align: center;
    margin-left: 36px;
    width: 32px;
    height: 32px;
    line-height: 32px;
    border-radius: 6px;
    cursor: pointer;
}
.time-chosen ul li:hover{
    background-color: #eee;
    /*border: 1px solid rgb(221,221,221)!important;*/
    box-shadow: 0 0 0 1px rgb(221,221,221);
}
.time-chosen-text{
    padding-left: 37px!important;
}
.time-chosen-text li{
    display: block;
    width: 25px;
    height: 26px;
    margin: 0!important;
    cursor: default!important;
}
.time-chosen-text li:hover{
    background-color: #fff!important;
    box-shadow: 0 0 0 0 #fff!important;
}
.time-chosen [type="text"]{
    width: 100%;
    height: 100%;
    border: 2px solid rgb(221, 221, 221);
    text-align: center;
}
.time-chosen-bottom{
    height: 42px;
    background-color: #f5f5f5;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}
.time-chosen-bottom [type="button"]{
    position: relative;
    top: 8px;
    left: 118px;
    color: #fff;
    width: 40px;
    height: 25px;
    background-color: #337ab7;
    border: none;
    border-radius: 6px;
    outline: none;
}
.time-chosen-bottom [type="button"]:hover{
    background-color: #286090;
}
.time-chosen-bottom [type="button"]:active{
    background-color: #204d74;
}